*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  touch-action: manipulation;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font: inherit;
  touch-action: manipulation;
}

input {
  font: inherit;
}

ul, ol {
  list-style: none;
}
